
















input[type="text"] {
    width: 330px;
}


.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: lightblue;
  
    /* The button will appear to be pressed on hover by translating its position and shrinking its box-shadow */
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }


  .row {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-spacing: 20px;
      border-radius: 10px;
  }
  
  .fiveday {
      border: 1px solid black;
      background-color: darkblue;
      width: auto;
      height: auto; 
      float: left;
      padding: 5px;    

  }

  p {
      color: white;
  }