*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.card-body {
margin: 5px;
}

input[type=text], select, textarea{
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
  }













  