*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.card-body {
margin: 5px;
}

form input[type=text], select, textarea{
    width: 75%;
    height: 35px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    color: white;
    font-size: 15px;
  }













  